doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include faktura.css
    include common.css
  script(src='logik.js')
  title PaperSign
.tabbtn
  form(action = "/" method="get")
    input(class="button" type="submit" value="Kasse")
  form(action = "/faktura" method="get")
    input#tabSelect(class="button" type="submit" value="Faktura")
  form(action= "/crud" method="get")
    input(class="button" type="submit" value="Produkter")
h1#tabTitle PaperSign Ordrer
//- .parent
//-   h2 Ordreoversigt: <br><br>
//-     each data in ordrer
//-       <br> 
.odreoversigt 
  .ordrelinjerOverskrift
    .overskrift Ordrenummer
    .overskrift Dato
    .overskrift#Pris Samlet Pris
  .ordrelinjer
    each data in ordrer
      .div5 
        a#ordrecontent(class='productHeader' href='/ordre/'+ data.docID +'')=data.ordreNr
        a#ordrecontent(class='productHeader' href='/ordre/'+ data.docID +'')=data.dato
        a#ordrecontentPris(class='productHeader' href='/ordre/'+ data.docID +'')="Kr. " + data.samletpris+",-"
#psLogo
  img(src='/images/papersignLogo.png') 
